.footerbox {
  width: 90%;
  height: 63px;
  background: var(--second);
  border-radius: 20px;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 25%);
  z-index: 69;
}

.svg {
  filter: var(--ic-f);
}
