.headerbox {
  display: flex;
  width: 100%;
  padding: 20px;
  margin: 30px 0;
  justify-content: space-between;
}

.goblin {
  /* width: 100px; */
  /* height: 150px; */
  background-repeat: no-repeat;
  display: block;
}

.goblintext {
  width: 227px;
  height: 77px;
  background: #fff;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 25%);
  border-radius: 20px 20px 20px 0;
  display: flex;
  align-items: center;
}

.gtextbox {
  margin: 0 auto;
}

.gtext {
  text-align: center;
  color: black;
  font-size: 13px;
  font-weight: 400;
}

.taskbox {
  width: 90%;
  min-height: 500px;
  background: white;
  border-radius: 20px;
  margin: 20px auto;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 25%);
}

.firsttaskbox {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.maintasktext {
  font-size: 22px;
  font-weight: 700;
  width: 90%;
}

.taskline {
  width: 80%;
  height: 10px;
  background: gray;
  border-radius: 5px;
  margin: 10px 0;
}

.tasktext {
  font-size: 12px;
  font-weight: bold;
}
.flextaskbox {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;
  padding: 10px 15px;
  border-radius: 10px;
  background: rgba(176, 214, 173, 50%);
}

.flextaskboxdone {
  text-decoration: line-through;
  opacity: 50%;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;
  padding: 10px 15px;
  border-radius: 10px;
  background: rgba(158, 158, 158, 0.5);
}

.task {
  font-size: 13px;
  color: black;
  font-weight: bold;
}

.circlepending {
  background: #7e7e7e;
  height: 12px;
  width: 12px;
  border-radius: 50px;
}

.circledone {
  background: #57ff57;
  height: 12px;
  width: 12px;
  border-radius: 50px;
}

.button {
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  background: #16ffb8;
  display: block;
  margin: 20px auto;
  width: 90%;
}
